<footer class="topnav">
    <div class="footer-copyright">
        <div class="container">
            <a class="grey-text text-lighten-4" href='https://github.com/Bany-A7X/PWL/tree/M2-Web-Scraping' target="_blank">&copy; Bany-A7X</a>
            <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a>
        </div>
    </div>
</footer>