<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">Scraper News</a>
        <ul class="left" id="nav-mobile">
            <li><a href="/pandit">Pandit Football</a></li>
            <li><a href="/bola">Bola</a></li>
            <li><a href="/sport">Sport</a></li>
        </ul>
        <ul class="right" id="nav-mobile">
            <li><a href="/clearAll">Clear</a></li>
        </ul>
    </div>
</nav>